<div class="nav-card-grid">

  <mdc-card class="nav-card" (click)="onNavCardSelect('home')">
    <mdc-card-primary-action>
      <img src="../../../assets/alchemy-sulphuric.svg" alt="Alquimistas Chegando" width="60" style="margin: 0 auto; padding: 25px 25px;">
      <h2 mdcHeadline6>Cheiro de Enxofre</h2>
      <h3 mdcSubtitle2>Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ</h3>
    </mdc-card-primary-action>
  </mdc-card>

  <mdc-card class="nav-card" (click)="onNavCardSelect('roles')">
    <mdc-card-primary-action>
      <img src="../../../assets/wheeling.svg" alt="Alquimistas Chegando" width="60" style="margin: 0 auto; padding: 25px 25px;">
      <h2 mdcHeadline6>Jogando em Equipe</h2>
      <h3 mdcSubtitle2>Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ</h3>
    </mdc-card-primary-action>
  </mdc-card>

  <mdc-card class="nav-card" (click)="onNavCardSelect('users')">
    <mdc-card-primary-action>
      <img src="../../../assets/biohazard.svg" alt="Alquimistas Chegando" height="70" style="margin: 0 auto; padding: 25px 25px;">
      <h2 mdcHeadline6>Superusuários</h2>
      <h3 mdcSubtitle2>Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ.</h3>
    </mdc-card-primary-action>
  </mdc-card>

  <mdc-card class="nav-card" (click)="onNavCardSelect('users')">
    <mdc-card-primary-action>
      <img src="../../../assets/anarchy.svg" alt="Alquimistas Chegando" height="70" style="margin: 0 auto; padding: 25px 25px;">
      <h2 mdcHeadline6>An Electronic Proletarian</h2>
      <h3 mdcSubtitle2>Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ.</h3>
    </mdc-card-primary-action>
  </mdc-card>
