<div class="nav-card-grid">
  <mdc-card class="nav-card" (click)="onNavCardSelect('general-settings')">
    <mdc-card-primary-action >
      <img src="../../../assets/Icon%20-%2056x40%20-%20General%20Settings.svg" alt="">
      <h2 mdcHeadline6>Generalities</h2>
      <h3 mdcSubtitle2>Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ</h3>
    </mdc-card-primary-action>
  </mdc-card>
  <mdc-card class="nav-card" (click)="onNavCardSelect('roles')">
    <mdc-card-primary-action>
      <img src="../../../assets/Icon%20-%2056x40%20-%20Roles.svg" alt="">
      <h2 mdcHeadline6>All-Night Movie Role</h2>
      <h3 mdcSubtitle2>Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ</h3>
    </mdc-card-primary-action>
  </mdc-card>
  <mdc-card class="nav-card" (click)="onNavCardSelect('users')">
    <mdc-card-primary-action>
      <img src="../../../assets/Icon%20-%2056x40%20-%20Users.svg" alt="">
      <h2 mdcHeadline6>Users &amp; Abusers</h2>
      <h3 mdcSubtitle2>Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ</h3>
    </mdc-card-primary-action>
  </mdc-card>
  <mdc-card class="nav-card" (click)="onNavCardSelect('forms')">
    <mdc-card-primary-action>
      <img src="../../../assets/Icon%20-%2056x40%20-%20Forms.svg" alt="">
      <h2 mdcHeadline6>Red Tape</h2>
      <h3 mdcSubtitle2>Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ</h3>
    </mdc-card-primary-action>
  </mdc-card>
  <mdc-card class="nav-card" (click)="onNavCardSelect('episodes')">
    <mdc-card-primary-action>
      <img src="../../../assets/Icon%20-%2056x40%20-%20Episodes.svg" alt="">
      <h2 mdcHeadline6>Unseen Episodes</h2>
      <h3 mdcSubtitle2>Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ</h3>
    </mdc-card-primary-action>
  </mdc-card>
</div>
